*{
    background-color:lightsteelblue;
}
.valid{
    color: green;
    display: none;
}
.invalid{
    color: red;
    display: none;
}
title{
    color: blue;
}
h1{
    color:darkred;
}
h2{
    color: darkgreen
}
p{
    color:darkmagenta;
}
label{
    font-weight: bold;
    text-decoration:underline;
}
img{
    width:200px;
    height:150px;
}