
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
    <div>
        <h2>User Added</h2>
        <h3> @ViewBag.ConfMessage</h3>


    </div>
</body>
</html>
