
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/styles.css" />

    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hello. Welcome to my coffee shop</h1>
        <p>Click <a href="Register"> Here </a> to register</p>
        <img src="~/Images/coffeecupimg.JPG" />

    </div>
</body>
</html>